<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item"></ion-card>
  <img [src]="item.imageURL" />
  <ion-card-header>
    <ion-card-title>{{ item.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      {{ item.price }} บาท
    </ion-list>
    <ion-list>
      {{ item.detail }}
    </ion-list>
  </ion-card-content>
</ion-content>
